@import "../imports";

section.valkyrie-fragment-navbar__section-navbar
{
    font-family: "Avenir", "Avenir Next", sans-serif;
    background-color: rgba(10,10,10,0.9);

    > div
    {
        padding: 0 0 0 150px;
        height: 100%;

        @media (max-width: @screen-md-min) { padding: 5px 0 5px 0; }

        table
        {
            @media (max-width: @screen-md-min) { margin: 0 auto; }

            td
            {
                padding: 20px 18px 16px 18px;
                font-size: 16px;

                @media (max-width: @screen-md-min)
                {
                    text-align: left;
                    font-size: 54px;
                    padding: 10px 20px 10px 20px;
                }
            }
        }

        a
        {
            color: rgba(240,240,240,0.9);
        }

        a:hover
        {
            text-decoration: none;
            cursor: pointer;
        }

        > div
        {
            background-color: rgba(5,5,5,0.9);
            padding: 6px 20px 6px 20px;
            height: 100%;
            text-align: center;
            float: left;

            @media (max-width: @screen-md-min)
            {
                padding: 3px 20px 3px 20px;
                text-align: left;
            }

            h5
            {
                font-size: 24px;

                @media (max-width: @screen-md-min) { font-size: 78px; }
            }
        }

    }
}