{% extends 'valkyrie.html' %}

{% block title %}Users{% endblock %}

{% block body %}

{% load tags_users %}
{% load tags %}

<section class="valkyrie-page-multi-listable__section-searchbar">

    <div>
        <table>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <div>
            <a class="btn btn-primary pull-right" href="/user-add">Add User</a>
        </div>
    </div>


</section>

<section class="valkyrie-page-multi-listable__section-listables">

    <div>
        <table>
            <tr>
                <td><h4>ID</h4></td>
                <td class="valkyrie-page-multi-listable__section-listables__desktop-only"><h4>Name</h4></td>
                <td class="valkyrie-page-multi-listable__section-listables__desktop-only"><h4>Gender</h4></td>
                <td><h4>Email</h4></td>
                <td class="valkyrie-page-multi-listable__section-listables__desktop-only"><h4>Phone Number</h4></td>
                <td class="valkyrie-page-multi-listable__section-listables__desktop-only"><h4>Date of Birth</h4></td>
            </tr>
            {% for user in user_list %}
            <tr>
                <td>{% generate_link_with_key user 'id' 'user' %}</td>
                <td class="valkyrie-page-multi-listable__section-listables__desktop-only">{% entry_for_key user 'first_name' %} {% entry_for_key user 'last_name' %}</td>
                <td class="valkyrie-page-multi-listable__section-listables__desktop-only">{% entry_for_user_gender user %}</td>
                <td>{% entry_for_key user 'email' %}</td>
                <td class="valkyrie-page-multi-listable__section-listables__desktop-only">{% entry_for_key user 'phone_number' %}</td>
                <td class="valkyrie-page-multi-listable__section-listables__desktop-only">{% entry_for_date user 'date_of_birth' %}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</section>

{% endblock %}