[submodule "Valkyrie"]
	path = Valkyrie
	url = https://MealSloth@mealsloth.git.cloudforge.com/applicationvalkyrie.git
[submodule "Chimera"]
	path = Chimera
	url = https://MealSloth@mealsloth.git.cloudforge.com/applicationchimera.git
