[submodule "_include/Chimera"]
	path = _include/Chimera
	url = https://MealSloth@mealsloth.git.cloudforge.com/chimera.git
[submodule "_include/Hydra"]
	path = _include/Hydra
	url = https://MealSloth@mealsloth.git.cloudforge.com/hydra.git
