{% extends 'valkyrie.html' %}

{% block title %}{% if title %}{{ title }}{% endif %}{% endblock %}

{% block body %}

<section class="valkyrie-page-multi-listable__section-searchbar">

    <div>
        <table>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <div>
            <h5>
                {% if this %}
                {% for id_button_entry in id_entry.2 %}
                <a data-toggle="modal" data-target="#{{ id_button_entry.4 }}">
                    <span class="{{ id_button_entry.9 }}"></span>
                </a>
                {% endfor %}
                {% endif %}
            </h5>
        </div>
    </div>


</section>

<section class="valkyrie-page-multi-listable__section-listables">

    <div>
        <table>
            <tr>
                {% for header_column in header %}
                <td {% if header_column.2 %}{% else %}class="valkyrie-page-multi-listable__section-listables__desktop-only"{% endif %}>
                    <h4>{{ header_column.0 }}</h4>
                </td>
                {% endfor %}
            </tr>
            {% for entry_row in entry %}
            <tr>
                {% for entry_column in entry_row %}
                <td {% if entry_column.1.2 %}{% else %}class="valkyrie-page-multi-listable__section-listables__desktop-only"{% endif %}>
                    {% if entry_column.1.1 %}<a href="/{{ entry_column.1.1 }}/{{ entry_column.0 }}">{% endif %}
                        {{ entry_column.0 }}
                    {% if entry_column.1.1 %}</a>{% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

</section>

{% endblock %}