@import "../imports";

section.valkyrie-fragment-navbar__section-navbar
{
    font-family: "Avenir", "Avenir Next", sans-serif;
    background-color: rgba(10,10,10,0.9);

    > div
    {
        overflow: auto;
        height: 100%;

        > div
        {
            table
            {
                @media (max-width: @screen-md-min) { margin: 0 auto; }

                td
                {
                    vertical-align: middle;
                    font-size: 16px;
                    padding: 10px;

                    @media (max-width: @screen-md-min)
                    {
                        padding: 10px 20px 10px 20px;
                        text-align: left;
                        font-size: 38px;
                    }

                    a
                    {
                        color: rgba(240, 240, 240, 0.9);
                    }

                    a:hover
                    {
                        text-decoration: none;
                        cursor: pointer;
                    }
                }

                td:first-of-type
                {
                    h4
                    {
                        font-size: 20px;
                        padding: 0;
                        margin: 0;

                        @media (max-width: @screen-md-min)
                        {
                            text-align: left;
                            font-size: 44px;
                            padding: 0;
                        }
                    }

                    h5
                    {
                        color: rgba(240, 240, 240, 0.9);
                        padding: 0;
                        margin: 0;

                        @media (max-width: @screen-md-min)
                        {
                            text-align: left;
                            font-size: 42px;
                            padding: 0;
                        }
                    }
                }
            }
        }

        > div:first-of-type
        {
            padding: 0 0 0 150px;
            float: left;

            @media (max-width: @screen-md-min) { padding: 5px 0 5px 0; }
        }

        > div:last-of-type
        {
            padding: 0 50px 0 0;
            float: right;

            @media (max-width: @screen-md-min) { display: none; }
        }
    }
}