{% load staticfiles %}

<section class="valkyrie-fragment-navbar__section-navbar">

    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <h5><a>MealSloth</a></h5>
            </div>
            <div class="col-xs-10">
                <table>
                    <tr>
                        <td class="valkyrie-fragment-navbar__section-navbar__td-space"></td>
                        <td><a href="/users">Users</a></td>
                        <td><a href="/posts">Posts</a></td>
                        <td><a href="/orders">Orders</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</section>