{% load staticfiles %}

<section class="valkyrie-fragment-navbar__section-navbar">

    <div>
        <div>
            <table>
                <tr>
                    <td><h4><a href="/">Valkyrie</a></h4></td>
                    <td><a href="/users">Users</a></td>
                    <td><a href="/posts">Posts</a></td>
                    <td><a href="/orders">Orders</a></td>
                    <td><a href="/tools">Tools</a></td>
                    <td><a href="/logout">Logout</a></td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <tr>
                    <td>
                        {% if request.user.is_authenticated %}
                        <a>{{ request.user.first_name }} {{ request.user.last_name }}</a>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>

</section>