<!DOCTYPE html>
<html lang="en">

    {% load staticfiles %}
    {% load tags_posts %}
    {% load tags %}

    <head>
        <meta charset="UTF-8">
        <title>MealSloth Admin</title>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    </head>

    <body>

        {% include './fragment/navbar.html' %}

        <section class="valkyrie-page-single-listable__section-header">

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-7">
                        <div class="col-xs-12 col-md-3">
                            <img src="{% static 'images/default-meal-picture.gif' %}" />
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <h2>{% entry_for_key post 'id' %}</h2>
                            <br />
                            <div class="valkyrie-page-single-listable__section-header__basic-info">
                                <h3>{% entry_for_key post 'name' %}</h3>
                                <h4>{% entry_for_key post 'description' %}</h4>
                                <h4>Capacity: {% entry_for_key post 'capacity' %}</h4>
                                <h4>Order Count: {% entry_for_key post 'order_count' %}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-5">
                        <h3>ID Pool</h3>
                        <div class="valkyrie-page-single-listable__section-header__id-pool">
                            <h5>Chef ID: <a>{% entry_for_key post 'chef_id' %}</a></h5>
                            <h5>Location ID: <a>{% entry_for_key post 'location_id' %}</a></h5>
                            <h5>Album ID: <a>{% entry_for_key post 'album_id' %}</a></h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-7">
                        <table>
                            <tr class="valkyrie-page-multi-listable__section-header__{% entry_for_key post 'status' %}">
                                <td><h3>Active</h3></td>
                                <td><h3>Saturated</h3></td>
                                <td><h3>Inactive</h3></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </section>

    </body>

</html>
