<!DOCTYPE html>
<html lang="en">

    {% load staticfiles %}

    <head>
        <meta charset="UTF-8">
        <title>MealSloth Admin</title>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    </head>

    <body>

        {% include './fragment/navbar.html' %}

        <section class="valkyrie-page-posts__section-header">

            <div>
                <div>
                    <h1>MealSloth</h1>
                    <h4>
                        Welcome to MealSloth! We provide a mobile application platform for people to buy and sell
                        homemade meals in their local area. You can learn more <a href="http://mealsloth.com/">here</a>.
                    </h4>
                </div>
            </div>

        </section>

    </body>

</html>
