<div class="modal fade" id="{{ id_name }}" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ formal_name }}</h4>
            </div>
            <div class="modal-body">
                <form action="/{{ action }}/{{ id }}/" method="post" enctype="{{ form_enctype }}"> {% csrf_token %}
                {% include embedded_form with form=form id=id form_class_name=form_class_name %}
                </form>
            </div>
            <div class="modal-footer">
                <input class="{{ button_class }}" type="submit" value="{{ formal_action }}">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>