{% extends 'valkyrie.html' %}

{% block body %}

<section class="valkyrie-page-tools__section-header">

    <div>

    </div>

</section>

<section class="valkyrie-page-tools__section-body-1">

    <div>
        <a data-toggle="collapse" data-target="#valkyrie-page-tools__div-siren__collapsible">
            <span>Blog <span class="caret"></span></span>
        </a>
        <div class="collapse" id="valkyrie-page-tools__div-siren__collapsible">
            <table>
                <tr>
                    <td>
                        <div>
                            <a href="/blog-post-add">Make a Blog Post</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <a data-toggle="collapse" data-target="#valkyrie-page-tools__div-auth__collapsible">
            <span>Authentication <span class="caret"></span></span>
        </a>
        <div class="collapse" id="valkyrie-page-tools__div-auth__collapsible">
            <table>
                <tr>
                    <td>
                        <div>
                            <a href="/auth-user-add">Add an Auth User</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</section>

{% endblock %}