{% extends 'valkyrie.html' %}

{% block title %}Home{% endblock %}

{% block body %}

<section class="valkyrie-page-home__section-header">

    <div>
        <div>
            <h1>MealSloth</h1>
            <h4>
                Welcome to MealSloth! We provide a mobile application platform for people to buy and sell
                homemade meals in their local area. You can learn more <a href="http://mealsloth.com/">here</a>.
            </h4>
        </div>
    </div>

</section>

{% endblock %}