{% extends 'valkyrie.html' %}

{% block title %}Change Password{% endblock %}

{% block body %}

<section class="valkyrie-page-login__section-body-1">

    <div>
        <h2>Enter a new password</h2>

        <form action="/change-password/" method="post"> {% csrf_token %}
            <table>
                <tr>
                    <td>
                        {{ form.password }}
                    </td>
                    <td>
                        {{ form.password.errors }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.password_confirm }}
                    </td>
                    <td>
                        {{ form.password_confirm.errors }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Change Password" id="submit">
                    </td>
                </tr>
            </table>
        </form>
        {% if reply %}
            <div>
                <h5>{{ reply }}</h5>
            </div>
        {% endif %}
    </div>

</section>

{% endblock %}