@import "../imports";

section.valkyrie-page-tools__section-header
{

}

section.valkyrie-page-tools__section-body-1
{
    div
    {
        padding: 50px;

        table
        {
            table-layout: fixed;
            width: 100%;

            tr
            {
                td
                {
                    padding: 30px;
                    width: 33%;

                    div
                    {
                        background-color: rgba(200,200,200,0.9);
                        border: 2px solid rgba(100,100,100,0.9);
                        border-radius: 10px;
                        text-align: center;
                        padding: 30px;

                        a
                        {
                            font-size: 26px;
                        }

                        a:hover
                        {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}