<div class="modal fade" id="{{ id_name }}" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ modal_title }}</h4>
            </div>
            <div class="modal-body">
                <h4>{{ modal_body_header }}</h4>
                <ul>
                    {% for item in modal_body_list %}
                    <li><h5>{{ item }}</h5></li>
                    {% endfor %}
                </ul>
                <h4>{{ modal_body_footer }}</h4>
            </div>
            <div class="modal-footer">
                <a class="{{ button_class }}" href="/{{ submit_action }}/{{ id }}/">
                    {{ formal_action }}
                </a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>