<div class="row">
    <div class="col-xs-12 col-md-7">
        <table class="valkyrie-page-single-listable__section-header__table-widget">
            <tr class="valkyrie-page-single-listable__section-header__order-status-{{ value }}">
                <td><h3>Pending</h3></td>
                <td><h3>Received</h3></td>
                <td><h3>Progress</h3></td>
                <td><h3>Completed</h3></td>
                <td><h3>Shipped</h3></td>
                <td><h3>Delivered</h3></td>
                <td><h3>Disputed</h3></td>
                <td><h3>Inactive</h3></td>
            </tr>
        </table>
    </div>
</div>