<div class="row">
    <div class="col-xs-12 col-md-7">
        <table class="valkyrie-page-single-listable__section-header__table-widget">
            <tr class="valkyrie-page-single-listable__section-header__review-rating-{{ value }}">
                <td><h3>0.0</h3></td>
                <td><h3>1.0</h3></td>
                <td><h3>2.0</h3></td>
                <td><h3>3.0</h3></td>
                <td><h3>4.0</h3></td>
                <td><h3>5.0</h3></td>
                <td><h3>6.0</h3></td>
                <td><h3>7.0</h3></td>
                <td><h3>8.0</h3></td>
                <td><h3>9.0</h3></td>
                <td><h3>10.0</h3></td>
            </tr>
        </table>
    </div>
</div>